/* Tweeks */

.cats .txt {
  padding-right: 12px;
}

.mapbox {
}
.mapbox .mapaddress {
  float: left;
  font-size: 13px;
}
.mapbox .attrgroup {
  font-size: 13px;
  clear: left;
  word-wrap: break-word;
}
